{% extends "base.html" %}

{% block title %}My Dashboard{% endblock %} 

{% block content%}
    {% if portfolio_exists %}
        <!-- data -->
        <div id="data-container"
            data-transactions="{{ transactions }}"
            data-holdings="{{ holdings }}"
            data-history="{{ history }}">
        </div>

        <!-- header -->
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h1">{{ username }}'s Portfolio</h1>
            <div class="btn-toolbar mb-2 mb-md-0 button-container">
                <div class="btn-group mr-5">
                    <button type="button" class="btn btn-lg btn-outline-secondary" onclick="openBuyPopup()">Buy Stocks</button>
                    <!-- buy popup -->
                    <div class="modal" id="buyPopup">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Buy Stonks!</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Please enter the ticker:</p>

                                    <form method="POST">
                                        <div class="form-floating mb-4">
                                            <input type="text" class="form-control" id="ticker" name="ticker" placeholder="Stock Ticker" required>
                                            <label for="ticker">Stock Ticker</label>
                                        </div>
                                        <div class="d-flex justify-content-end button-container">
                                            <button type="button" class="btn btn-secondary mr-3" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Buy Stock</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-lg btn-outline-secondary">Sell Shares</button>
                </div>
                <button type="button" class="btn btn-lg btn-outline-secondary">Ticker Lookup</button>
            </div>
        </div>

        <!-- portfolio value -->
        <div class="mt-4 mb-3 container">
            <h2 class="text-center">Your portfolio is worth <strong>${{ portfolio_value }}</strong></h2>
            <h6 class="text-center" data-toggle="tooltip" data-placement="bottom" title="Portfolio values are updated every hour"> 
                <u>As of <strong>{{ update_time }}</strong></u>
            </h6>
        </div>
        
        {% if has_holdings %}
            <!-- portfolio plot  -->
            <canvas class="my-4 w-100" id="portfolioPlot" width="816" height="344" style="display: block; box-sizing: border-box; height: 275px; width: 652px;"></canvas>
            
            <!-- portfolio holdings -->
            <h3>Portfolio Breakdown</h3>
            <table class="table table-striped table-hover table-dark" id="holdingsTable">
            </table>
        {% endif %}

        {% if has_transactions %}
            {% if not has_holdings %}
                <h3 class="text-center mt-5 mb-5">Your portfolio does not have any holdings!</h3>
            {% endif %}
            <!-- transaction history -->
            <h3 class="mt-5">Transaction History</h3>
            <table class="table table-striped table-hover table-dark" id="transactionsTable">
            </table>
        {% else %}
            <h1 class="text-center mt-5 mb-5">Buy something first to track your portfolio!</h1>
        {% endif %}
    {% else %}
        <!-- prompt user to create portfolio -->
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">Hi, {{ username }}</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Looks like you don't have a portfolio yet! Dont worry, just create a profile and start having FUN(ance). Or, feel free to get more familiar with the rules first.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a type="button" class="btn btn-outline-secondary btn-lg px-4 mr-3" id="rules" href="/rules">Game Rules</a>
                    <form method="POST">
                        <input type="hidden" name="create_portfolio" value="create user portfolio">
                        <button type="submit" class="btn btn-primary btn-lg px-4 gap-3" id="createProfile">Create Profile</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="../../static/scripts/dashboard.js" defer></script>
{% endblock %}