{% extends "base.html" %}

{% block title %}Leaderboard{% endblock %} 

{% block content%}
    <!-- data -->
    <div id="data-container"
        data-top-performers="{{ top_performers }}"
        data-daily-performers="{{ top_daily_performers }}"
        data-history="{{ performance_history }}">
    </div>

    <div class="container my-5 content-container">
        <h1 class="text-body-emphasis text-center">- Leaderboard -</h1>
        <h6 class="text-center" data-toggle="tooltip" data-placement="bottom" title="Portfolio values are updated every 30 minutes when the market is open"> 
            <u>Updated: <strong>{{ update_time }}</strong></u>
        </h6>

        <div class="w-100 mt-3" id="historyPlot" style="height: 400px;"></div>

        <div class="container w-100 my-4">
            <h4>Top Performing Portfolios</h4>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-dark" id="topPerformersTable"></table>
            </div>
        </div>

        <div class="container w-100 my-4">
            <h4>Todays Top Growers</h4>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-dark" id="dailyPerformersTable"></table>
            </div>
        </div>
        
    </div>
{% endblock %}

{% block scripts %}
    <script src="../../static/scripts/leaderboard.js"></script>
{% endblock %}