{% extends "base.html" %}

{% block title %}{{ticker}} History{% endblock %} 

{% block content%}
    <!-- data -->
    <div id="data-container"
        data-ticker="{{ ticker }}"
        data-history="{{ history }}">
    </div>

<!-- Header buttons -->
<div class="container my-5 content-container">
    <div class="d-flex justify-content-between mb-5">
        <form method="POST">
            <a type="button" class="btn btn-outline-secondary" href="/dashboard">Back</a>
            <input type="hidden" name="buyTicker" value="{{ ticker }}">
            <button type="submit" class="btn btn-success">Buy {{ ticker }}</button>
        </form>

        <form method="POST">
            <div class="input-group">
                <input type="hidden" name="originalTicker" value="{{ ticker }}">
                <input type="text" class="form-control" placeholder="Ticker" aria-label="Search Ticker" id="ticker" name="ticker" required>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
              </div>
        </form>
    </div>

    <h1 class="text-center"><strong>{{ info.company_name }}</strong> <br></h1>
    <h3 class="text-center">As of {{ time }}, the price of <strong>{{ ticker }}</strong> is <strong>${{ info.price }} {{ info.currency }}</strong> <br></h3>

    <!-- History plot -->
    <div class="my-3 w-100" id="historyPlot" style="display: block; box-sizing: border-box; height: 500px;"></div>

    <!-- Performance Summary -->
    <div class="table-responsive">
        <table class="table table-striped table-dark" id="performanceTable">
            <h4 class="mt-5">Performance Summary</h4>
            <tr>
                {% for key, value in performance.items() %}
                    <th scope="col">{{ key }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for key, value in performance.items() %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>

    <!-- company summary -->
    <div class="accordion mt-3" id="summary">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#summaryDetails" aria-expanded="true" aria-controls="summary">
                    Company Summary
                </button>
            </h2>
            <div id="summaryDetails" class="accordion-collapse collapse" data-bs-parent="#summary">
                <div class="accordion-body">
                    <h6><strong>Industry:</strong> {{ info.industry }}</h6><br>
                    <h6><strong>Summary:</strong></h6>
                    <p>{{ info.company_summary }}</p>

                    <h6><strong>Related News:</strong></h6>
                    <ul class="list-group">
                        {% for article in news %}
                            <li class="list-group-item"> <a href="{{article.url}}">{{article.name}}</a> </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

{% block scripts %}
    <script src="../../static/scripts/search.js" defer></script>
{% endblock %}